.gnb {
  z-index:1;
  width:100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.gnb ul {
  display: flex;
}

.gnb li {
  margin: 0 1rem;
  display: inline-block;
}

.gnb li a {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  opacity: .7;
  text-decoration: none;
}

.gnb .on a {
  color: #66c088;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
    .gnb li {
        margin: 0 3rem;
        display: inline-block;
    }

    .gnb8 li {
        margin: 0px 2.2%;
        display: inline-block;
    }
}