.intro {
  h1, h2, h3, h4, h5, h6, p {
    font-weight: bold;
    margin: 1rem 0;
  }
  
  h1 {
    font-size: 1.2rem;
  }
  
  p {
    opacity: .9;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: normal;
  }
  
  img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
  } 
}