.intro {
  h1, h2, h3, h4, h5, h6, p {
    font-weight: bold;
  }
  
  h1 { font-size: 32px; } h2 { font-size: 24px; } h3 { font-size: 19px; } h4 { font-size: 16px; } h5 { font-size: 13px; } h6 { font-size: 10px; } p { font-size: 16px; margin: 0; }
  
  p {
    opacity: .9;
    font-size: 16px;
    font-weight: normal;
  }
  
  img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
  } 
}